.countryName {
    display: inline-block;
    padding: 5px;
    margin-left: 4%;
    width: 15%;
}
.countryData {
    display: inline-block;
    padding: 5px;
    margin-left: 20px;
    width: 10%;
}
.countryTable {
    background-color: white;
    padding: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 36vh;
    margin-bottom: 0px;
    overflow: scroll;
    border-radius: 15px;
}
.countryPanelTitle {
    padding: 5px ;
    margin-left:  3%;
    margin-right: 3%;
}
.countryPanel {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px ;
    margin: 5px;
    background-color: rgb(255, 253, 249);
}
.search {
    color: grey;
}
.searchBar {
    margin-right: 100px;
}
.countryname {
    padding: 5px;
    width: 15%;
    border-radius: 20px;
    display: inline-block;
    
}
@media (max-width:1024px)  {
    .countryTable {
        height: 60vh;
    }
    .countryData {
        width: 9%;
    }
}
@media (max-width:850px)  {
    .countryPanelTitle {
        font-size: 10pt;
        margin-left:  2%;
        margin-right: 2%;
    }
    .countryname {
        margin-left: 0%;
        width: 10%;
        margin-right: 0%;
    }
    .countryPanel {
        font-size: 10pt;
    }
    .countryName {
        padding-left: 3%;
        padding-right: 1%;
        margin-left: 0px;
        width: 10%;
    }
    .countryData {
        padding-left: 1%;
        padding-right: 2%;
        width: 8%;
    }
    .countryTable {
        margin-left: 2%;
        margin-right: 2%;
        height: 60px;
        overflow-y: scroll;
    }
}
@media (max-width:480px)  {
    .countryPanelTitle {
        font-size: 7pt;
        margin-left:  -2%;
        margin-right: 0%;
    }
    .countryname {
        margin-left: 0%;
        width: 10%;
        margin-right: 0%;
    }
    .countryPanel {
        font-size: 8pt;
    }
    .countryName {
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 0px;
        width: 10%;
    }
    .countryData {
        padding-left: 1%;
        padding-right: 2%;
        width: 6%;
    }
    .countryTable {
        margin-left: 1%;
        margin-right: 1%;
        height: 50vh;
    }
}
@media (max-width:390px)  {
    .countryPanelTitle {
        font-size: 7pt;
        margin-left:  -4%;
        margin-right: 0%;
    }
    .countryname {
        margin-left: 1%;
        width: 10%;
        margin-right: 0%;
    }
    .countryPanel {
        font-size: 8pt;
    }
    .countryName {
        padding-left:  1%;
        padding-right: 1%;
        margin-left: 0px;
        width: 10%;
    }
    .countryData {
        padding-left: 1%;
        padding-right:1%;
        width: 6%;
    }
    .countryTable {
        margin-left:  1%;
        margin-right: 1%;
        height: 50vh;
    }
}